(
    width: 64,
    height: 32,
    start_pos: (3, 3),
    tiles: [
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "################################################################",
        "#########.....##################################################",
        "#########.###.##################################################",
        "#########.###.##################################################",
        "############..##################################################",
        "##########...###################################################",
        "##########.#####################################################",
        "##########.#####################################################",
        "##########.#####################################################",
        "###.........####################################################",
        "###########..###################################################",
        "################################################################",
        "################################################################",
    ],
)
